<div fxLayout="row wrap">
  <mat-toolbar color="primary" style="height: 4em;">

    <img class="mdCardImg md-card-sm-image transparentProfilePic">

    <span class="textBottom xxLargerFont">&nbsp;AWS Certified Cloud Practitioner Pratice</span>

    <span class="app-toolbar-filler"></span>
    <!--span class="smallTextBottom"><i class="material-icons md-18 iconBottom">home</i>&nbsp;261 Swedesford Rd., Malvern, PA 19355&nbsp;<a href="tel:484-433-3269" style="color: white"><i class="material-icons md-18 iconBottom">phone_iphone</i>484-433-3269</a>
                    &nbsp;<a href="mailto:vbloise3@gmail.com?Subject=Resume" target="_top" style="color: white"><i class="material-icons md-18 iconBottom">email</i>vbloise3@gmail.com</a></span-->
  </mat-toolbar>
  <div class="app-content">
    <mat-card class="shadowCard" style="margin-top: 1em;">
      <h1 class="h1Blue">Administrative Tasks</h1>
      <mat-card>
        <!--input id="createTableButton" type="button" value="Create Table" (click)="createMovies()" /-->
        <button id="createTableButton" (click)="createC2pQandA()"><i class="material-icons">build</i></button>
        <!--input id="initialDataLoadButton" type="button" value="Watch for data load JSON files" (click)="initialDataLoad()" /-->
        <span class="app-toolbar-filler"></span>
        <button id="initialDataLoadButton" (click)="initialDataLoad()"><i class="material-icons">cloud_upload</i></button>
      </mat-card>
      <br><br>
      <div id="textarea" style="padding: 0.5em;font-size: x-small;width: 50%;">{{qandas}}</div>
    </mat-card>
  </div>
  <span class="app-toolbar-filler" style="padding: 1em;"></span>
  <mat-card class="shadowCard" style="float: right;margin-bottom: 1em;margin-top: 1em;">
    <h1 class="h1Blue">Create A QandA</h1>
    <mat-card>
      <form #insertQandAForm="ngForm" (ngSubmit)="createItem(insertQandAForm)">
        <mat-form-field>
          <input id="id" name="id" matInput placeholder="Id" ngModel required> <!--OnlyNumberDirective="true"-->
        </mat-form-field>
        <mat-form-field>
          <input id="category" name="category" matInput placeholder="Category" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input id="subcategory" name="subcategory" matInput placeholder="Subcategory" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input id="questionType" name="questionType" matInput placeholder="Type" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input id="question" name="question" matInput placeholder="Question" ngModel required>
        </mat-form-field>
        <div class="actions">
          <button mat-button type="submit" color="primary" [disabled]="!insertQandAForm.form.valid">SAVE</button>
        </div>
      </form>
    </mat-card>
  </mat-card>
  <span class="app-toolbar-filler" style="padding: 2em;"></span>
  <br/>
  <span class="app-toolbar-filler" style="padding: 1em;"></span>
  <mat-card class="shadowCard" style="float: left;margin-top: 1em;">
    <h1 class="h1Blue">Get A QandA</h1>
    <mat-card>
      <form #getQandAForm="ngForm" (ngSubmit)="getOneItem(getQandAForm)">
        <mat-form-field>
          <input id="getId" name="id" matInput placeholder="Id" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input id="getCategory" name="category" matInput placeholder="Category" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input id="getSubcategory" name="subcategory" matInput placeholder="Subcategory" ngModel value="{{getSubcategory}}">
        </mat-form-field>
        <mat-form-field>
          <input id="getQuestionType" name="questionType" matInput placeholder="Type" ngModel value="{{getQuestionType}}">
        </mat-form-field>
        <mat-form-field>
          <input id="getQuestion" name="question" matInput placeholder="Question" ngModel value="{{getQuestion}}">
        </mat-form-field>
        <div class="actions">
          <button mat-button type="submit" color="primary" style="margin-right: 1em;" [disabled]="!getQandAForm.form.valid">Get</button>
        </div>
      </form>
    </mat-card>
  </mat-card>
  <mat-card class="shadowCard" style="float: left;margin-top: 1em;">
    <h1 class="h1Blue">Update A QandA</h1>
    <mat-card>
      <form #updateQandAForm="ngForm" (ngSubmit)="updateOneItem(updateQandAForm)">
        <mat-form-field>
          <input id="updateId" name="id" matInput placeholder="Id" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input id="updateCategory" name="category" matInput placeholder="Category" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input id="updateSubcategory" name="subcategory" matInput placeholder="Subcategory" ngModel>
        </mat-form-field>
        <mat-form-field>
          <input id="updateQuestionType" name="questionType" matInput placeholder="Type" ngModel>
        </mat-form-field>
        <mat-form-field>
          <input id="updateQuestion" name="question" matInput placeholder="Question" ngModel>
        </mat-form-field>
        <div class="actions">
          <button mat-button type="submit" color="primary" style="margin-right: 1em;" [disabled]="!updateQandAForm.form.valid">Update</button>
        </div>
      </form>
    </mat-card>
  </mat-card>
  <span class="app-toolbar-filler" style="padding: 2em;"></span>
  <br/>
  <span class="app-toolbar-filler" style="padding: 1em;"></span>
  <mat-card class="shadowCard" style="float: left;margin-top: 1em;">
    <h1 class="h1Blue">Delete A QandA</h1>
    <mat-card>
      <form #deleteQandAForm="ngForm" (ngSubmit)="deleteOneItem(deleteQandAForm)">
        <mat-form-field>
          <input id="deleteId" name="id" matInput placeholder="Id" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input id="deleteCategory" name="category" matInput placeholder="Category" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input id="deleteSubcategory" name="subcategory" matInput placeholder="Subcategory" ngModel>
        </mat-form-field>
        <mat-form-field>
          <input id="deleteQuestionType" name="questionType" matInput placeholder="Type" ngModel>
        </mat-form-field>
        <mat-form-field>
          <input id="deleteQuestion" name="question" matInput placeholder="Question" ngModel>
        </mat-form-field>
        <div class="actions">
          <button mat-button type="submit" color="primary" style="margin-right: 1em;" [disabled]="!deleteQandAForm.form.valid">Delete</button>
        </div>
      </form>
    </mat-card>
  </mat-card>
  <span class="app-toolbar-filler" style="padding: 2em;"></span>
  <br/>
  <span class="app-toolbar-filler" style="padding: 1em;"></span>
  <mat-card class="shadowCard" style="float: left;margin-top: 1em;">
    <h1 class="h1Blue">Delete A Table</h1>
    <mat-card>
      <form #deleteTableForm="ngForm" (ngSubmit)="deleteTable(deleteTableForm)">
        <mat-form-field>
          <input id="deleteTableName" name="tableName" matInput placeholder="Table Name" ngModel value="{{deletedTable}}" required>
        </mat-form-field>
        <div class="actions">
          <button mat-button type="submit" color="primary" style="margin-right: 1em;" [disabled]="!deleteTableForm.form.valid">Delete Table</button>
        </div>
      </form>
    </mat-card>
  </mat-card>
  <span class="app-toolbar-filler" style="padding: 2em;"></span>
  <br/>
  <span class="app-toolbar-filler" style="padding: 1em;"></span>
  <mat-card class="shadowCard" style="float: left;margin-top: 1em;">
    <h1 class="h1Blue">List S3 Bucket Contents</h1>
    <mat-card>
      <form #listS3BucketsForm="ngForm" (ngSubmit)="listS3BucketContents(listS3BucketsForm)">
        <mat-form-field>
          <input id="s3BucketName" name="s3BucketName" matInput placeholder="Bucket Name" ngModel value="{{s3BucketName}}">
        </mat-form-field>
        <div class="actions">
          <button mat-button type="submit" color="primary" style="margin-right: 1em;" [disabled]="!listS3BucketsForm.form.valid">S3 Bucket Contents</button>
        </div>
      </form>
    </mat-card>
    <div id="textareaBuckets" style="padding: 0.5em;font-size: x-small;width: 50%;">{{theBucketList}}</div>
  </mat-card>
</div>
